* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: rgba(0, 128, 0, 0.164);
}

.tetris {
  background-color: black;
  width: 70rem;
  height: 60rem;

  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  margin: 5rem auto;

  /* display: flex;
  flex-direction: column; */
  /* z-index: 999; */
  position: relative;
}

.tetris__menu {
  width: 100%;
  /* z-index: 99; */
}

.tetris__upperBanner {
  width: 100%;
  display: flex;
  align-items: center;
  color: white;
  padding: 1rem 1rem;
  background-color: #777;
  width: 100%;
  height: 7rem;
}

.tetris__playingBtn {
  padding: 0.8rem 2rem;
  border: 1px solid black;
  cursor: pointer;
  /* background-color: none; */
}

.tetris__checkBtn {
  padding: 0.8rem 2rem;
  border: 1px solid black;
}

.tetris__inGameBox {
  width: 30rem;
  height: 45rem;
  /* background-color: rgba(255, 255, 255, 0.493); */
  background-color: black;
  /* border-left: 1px solid white;
  border-bottom: 1px solid white;
  border-right: 1px solid white; */

  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* top: 5%;
  left: 50%;
  transform: translate(-50%, 0); */

  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(15, 1fr);
  grid-gap: 0;
  /* grid-template-columns: repeat(4, 1fr); */
  /* grid-template-rows: repeat(1fr, 6); */
}

.tetris__gridItem {
  width: 3rem;
  height: 3rem;
  background-color: white;
  /* border: 0.1px inset rgba(0, 0, 0, 0.5); */
  border: 0.1px solid rgba(0, 0, 0, 0.5);
  /* z-index: 99; */
}

.tetris__scoreBox {
  width: 10rem;
  height: auto;
  font-size: 2rem;
  color: white;
}

.tetris__nextItemBox {
  display: block;
  width: 10rem;
  height: 10rem;
  /* z-index: 99; */
  margin-top: 6.5rem;
  margin-left: 5rem;

  /* background-color: yellowgreen; */
  /* clip-path: polygon(); */
  display: flex;
  justify-content: center;
  align-items: center;
}

.tetris__nextItem {
  width: 8rem;
  height: 4rem;
  /* background-color: yellow; */
  display: grid;
  grid-template-columns: repeat(4, 2rem);
  grid-template-rows: repeat(2, 2rem);
  margin: 0 auto;
}

.tetris__nextGridItem {
  width: 2rem;
  height: 2rem;

  background-color: black;
  /* border: 0.1px inset rgba(0, 0, 0, 0.5); */
  border: 0.1px solid rgba(0, 0, 0, 0.5);
  /* z-index: 99; */
}

.tetris__gameOverModal {
  width: 100%;
  height: 53rem;
  /* height: 100%; */
  background-color: white;

  position: absolute;
  top: 7rem;
  left: 0;
  opacity: 0.6;

  font-size: 6rem;
  font-weight: 600;
  text-align: center;
  padding-top: 20rem;
  /* z-index: 98; */

  display: none;
}

.tetris__record {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgb(255, 255, 255, 0.3);
  /* z-index: 999; */

  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 3rem;

  padding-top: 12rem;
  display: none;
}

.tetris__record h3 {
  font-size: 6rem;
  /* text-align: center; */
}

.tetris__recordLists {
  list-style-position: inside;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.tetris__recordLists li {
  font-size: 3rem;
}
